<% if plan.id > 1 %>
	<div id="div_plan">
		<%= hidden_field_tag 'plan_id', plan.id %><br />
		<%= label_tag 'plan' %>: <%= plan.name %><br />
		<%= label_tag 'price' %>/<%= plan.unit %>: $<%= plan.price %><br />
		<%= plan.unit %>s to Purchase: <%= select_tag 'units', @options %><br />
	</div>
<% end %>